// Bootstrap
@import './variables';
/* ========================================================================
     Component: Page loader
 ========================================================================== */

.page-loader {
  position: fixed;
  bottom: 0;
  right: 0;
  top: 0;
  left: 0;
  padding-top: 30px;
  text-align: center;
}

// average-release-time
.average-release-time {
  position: relative;
  width: 100%;
  .hours {
    color: $gray-800;
    font-size: 6rem !important;
  }
}

.status-succeeded {
  color: $green;
}

.status-failed {
  color: $red;
}

.status-blocked {
  color: $orange;
}

.status-planned {
  color: $cyan;
}

.text-orange {
  color: $orange;
}

.border-left-orange {
  border-left: 0.25rem solid $orange !important;
}

.list-tasks {
  .main {
    font-size: 0.85rem !important;
  }
}