<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <base href="/">
    <meta charset="utf-8">
    <title>Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% for (var css in htmlWebpackPlugin.files.css) { %>
    <link href="<%= htmlWebpackPlugin.files.css[css] %>"
          rel="stylesheet">
    <% } %>
</head>
<body id="page-top">
    <div id="app"></div>
    <!-- chunks -->
    <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
        <script
                src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
<% } %>
</body>
</html>